body {
   font-family:Lekton, monospace;
}

#main {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#main-logo{
    z-index:2;
    position:absolute;
    margin: -99px 0px 0px 0px
}

#cent-img {
    margin-left:auto;
    margin-right:auto;
    display:block;
}

#footer {
    width: 800px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid #000000;
    padding-top: 7px;
    font-size: 8pt;
    color:#878787;
    font-family: Lekton, monospace;
    text-align:right;
        
}

p {
    font-family: Lekton, Lucida Sans Typewriter, Consolas, monospace;
    font-size: 11pt;
    margin: 0px 10px 0px 10px;
    line-height: 1.1;
}

h1 {
    margin: 10px 0px 10px 0px;
    font-family: Bookends, Helvetica, sans-serif;
    padding-left:30px;
    clear:right;
    font-size:37.5pt;
    text-align:center;
    letter-spacing:3px;
}

h3 {
    font-family: Roboto, Consolas, Monaco, Lucida Sans Typewriter, monospace;
    margin: 5px 00px 30px 20px;
    text-align: right;
    letter-spacing:2px;
    font-size:13pt;
}

h5 {
    text-align: center;
}

h6 {
    margin-right:2px;
    float:right;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #000000;
    padding: 4px;
    padding-left:8px;
    padding-right:8px;
    margin-bottom:0px;
    z-index:-10;
}

#home:hover {
    background-color: #00FFBF;
}

#about:hover {
    background-color: #5500FF;
}

#projects:hover {
    background-color: #FF0066;
}

#resume:hover {
    background-color: #00BFFF;
}

#contact:hover {
    background-color: #80FF00;
}

h6 a {
    text-decoration: none;
}

h6 a:visited, a:link {
    color: #FFFFFF;
}

#project-box {
    width: 125px;
    height: 125px;
    overflow: hidden;
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
}

#project-box:hover {
    width:600px;
    height: 125px;
}

#project-box img {
    position: absolute;
    opacity: 0.7;
    filter:alpha(opacity=60);
    -moz-opacity: 0.6;
    -moz-opacity: 0.6;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
}

#project-box img:hover {
    opacity: 1;
    filter:alpha(opacity=100);
    -moz-opacity: 1;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    box-shadow: 1px 1px 1px 1px #888;
}

#project-info {
    display:inline-block;
    background: #E8E8E8;
    position: relative;
    left:130px;
    padding: 3px;
    width:200px;
    height: 125px;
}

#project-info a {
    color: #D64551;
}

#project-info span {
    color: #3EC6F3;
    font-size: 10pt;
}

#project-info p {
    font-size: 11pt
}

#header {
    clear:both;
    border-bottom:2px solid #000000; 
    border-top: 2px solid #000000;
    margin-left:103px;
}

div ul li {
    line-height:1;
    font-size:10pt;
}

p a, li a {
    text-decoration:none;
    color: #FCBD35;
}

p a:link, li a:link {
    color: #FCBD35;
}

p a:visited, li a:visited {
    color: #D4D4D4;
}

table {
    margin-left: auto;
    margin-right: auto;
}

tr h5 {
    margin: 10px 0px 0px 0px;
    font-size: 14px;
    border-top: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
}

td {
    font-size: 13px;
}

td ul li {
    line-height:1;
    font-size:10pt;
    list-style-type: square;
}

@font-face{
    font-family: Bookends;
    src:url(fonts/BookendsWithAccents.ttf);
    font-weight:normal;
}

@font-face{
    font-family: Lekton;
    src:url(fonts/Lekton-Regular.ttf);
    font-weight:normal;
}

@font-face{
    font-family: Roboto;
    src:url(fonts/Roboto-CondensedItalic.ttf);
    font-weight:normal;
}